@import 'config';
@import 'responsive';

.adviceCard {
    width: 21.875rem;
    background: $color-dark-grayish-blue;
    border-radius: 0.8125rem;
    font-family: 'Manrope', sans-serif;
    display: grid;
    justify-items: center;
    align-content: center;
    position: relative;

    @include large {
        width: 33.75rem;
    }

    h1{
        text-transform: uppercase;
        color: $color-neon-green;
        letter-spacing: 0.25em;
        font-size: 0.875rem;
        text-align: center;
        margin: 3.25rem 0 0 0
    }

    .advice {
        font-size: 1.6875rem;
        color: $color-light-cyan;
        text-align: center;
        margin: 2.5rem 2.8125rem;
    }

    .divider {
        margin-bottom: 4.5rem;
    }

    .desktopDivider {
        display: none;
    }

    @include large {
        .desktopDivider {
            display: block;
        }

        .mobileDivider {
            display: none;
        }
    }

    .dieHolder {
        background: $color-neon-green;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -2rem;

        &:hover {
            box-shadow: 0rem 0rem 1.875rem 0.625rem rgba(82,255,168,0.55)
        }

    }

}